* { 
    padding: 0; 
    margin: 0; 
    box-sizing: border-box; 
} 
body { 
    background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20230529/pngtree-river-in-a-tropical-rainforest-in-brazil-image_2675181.jpg);
    background-size: 1600px 900px;
    height: 100vh; 
    color: white; 
}
div{
    background-color: transparent;
    margin: 0 190px;
}
header{
    font-family: 'Times New Roman', Times, serif;
    background-color: transparent;
    height: 50px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 1px;
    font-size: 40px;
}
img{
    width: 300px;
    height: 250px;
}
h2{
    font-size: x-large;
    color: rgb(255, 255, 255);
    text-align: justify;
    margin: 0 20px auto;
}
ol{ 
    font-size: large;
    text-align: left;
    margin: 0 150px auto;
}
footer{
    font-size: xx-large;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.886);
    text-align: center;
    margin: 10px 300px;
}
a{
    color: white;
}
li{
    color: rgb(255, 255, 255);
}